.container{
    width:60vw;
    height:60vh;
    background-color: lightblue;

    display:flex;
    flex-direction: row;
    gap:20px;
}

.item{
    width:100px;
    height:100px;
    background:royalblue;
    border:1px solid black;
}